.vue-tree-list {
    list-style-type: none;
    padding-left: 20px
}
.vue-tree-list .item-wrapper {
    padding: 5px 0;
    height: 100%;
    line-height: 100%;
}
.vue-tree-list .item-bold {
   font-weight: bold
}
.vue-tree-list .item-toggle,
.vue-tree-list .item-checkbox,
.vue-tree-list .item-label {
  cursor: pointer;
}
.vue-tree-list .item-toggle {
    display: inline-block;
    width: 20px;
    text-align: center;
    overflow: hidden
}
